*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --background: #262035;
    --gray: #adacaf;
    --white: #FFFFFF;
    --purple: #8b5dfe;
    --green: #52fe01;
}

html,
body {
    width: 100%;
    height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background); 

    overflow-x: hidden;
}

.menu {
    display: flex;
    padding: 40px 70px;
    width: 100%;
    margin-bottom: 130px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
} 

.container_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_item:nth-child(1) img {
    width: 586px;
    padding: 0 40px;

}

.container_item.--wrapper-text { 
    display: flex;
    flex-direction: column;

    margin-left: 120px;
    height: 100%;
}

.container_item.--wrapper-text div {
    width: 586px;
    height: 100%; 
}

.container_item.--wrapper-text p {
    max-width: 386px;
    margin-top: 36px;
}

h1 {
    font-family: 'Space Mono', monospace; 
    font-size: 64px;
    font-weight: 700;
    color: var(--gray);
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 700;
    color: var(--gray);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--green);
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 400;
    color: var(--white);
}

.container_item--button a {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 700;

    position: relative;
    display: flex;
    align-items: center;

    justify-content: space-around;
    
    margin-top: 64px;
    width: 216px;
    height: 68px;

    background-color: var(--purple);
    color: var(--white);

    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    position: relative;
    margin-top: auto;
}

footer a {
    color: var(--white);
    text-decoration: none;
}

@media (max-width: 1220px) {
    .container {
        margin-top: 90px;
        flex-direction: column;
        align-items: center;
    }
    
    .container_item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container_item {
        justify-content: center; 
    }
 
    .container_item:nth-child(1) img {
        width: 560px;
        max-width: 100%;
        height: 400px;
    }
 
    .container_item.--wrapper-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 24px;
        margin-top: 60px;
    }

    .container_item.--wrapper-text p {
        width: 100%;
    }

    .container_item.--wrapper-text div {
        width: 100%;
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .container_item.--wrapper-text a {
        position: absolute;
        display: flex;
        align-items: center;

        justify-content: space-around;
        
        margin-top: 64px;
        width: 216px;
        height: 68px;
    }

    footer {
        margin-top: 250px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 48px; 
    }
    
    h2 {
        font-size: 18px;
    }
    
    p {
        font-size: 18px;
    }
    
    a {
        font-size: 14px;
    }

    .container {
        flex-direction: column;
    }
    
    .container_item:nth-child(1) img {
        width: 80%;
        max-width: 100%;
        height: 100%;
    }

    .container_item.--wrapper-text div {
        width: 100%;
        max-width: 100%;
        margin-bottom: 60px;
    }
}

